.additional-item {
  border-top: 1px solid #cdcdcd;
  padding-top: 13px;
  padding-bottom: 17px;
}

.additional-item__title {
  margin: 0;
  margin-bottom: 14px;
}

.additional-item__link {
  display: block;
  padding: 0;
  font-family: $font-family-head;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $text-color-form;
  text-transform: uppercase;
}

.additional-item__description {
  font-family: $font-family-text;
  color: $text-color-mid;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  padding: 0;
  border-collapse: collapse;
  width: 100%;

  tr {
    display: flex;
    justify-content: space-between;
  }
}

.additional-item__description-field {
  padding: 0;
}

additional-item__description-value {
  padding: 0;
}

.additional-item__button {
  margin-top: 12px;
}

@media (min-width: $tablet-width) {
  .additional-item {
    border-top: none;
    box-sizing: border-box;
    padding-top: 26px;
    padding-bottom: 27px;
    padding-left: 37px;
    padding-right: 36px;
  }

  .additional-item__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional-item__title {
    width: 50%;
    margin-bottom: 0;
  }

  .additional-item__link {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-item__description {
    font-size: 16px;
    line-height: 20px;
    width: 50%;

    tr {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  .additional-item__description-value {
    width: 95px;
    text-align: right;
  }

  .additional-item__button {
    margin-top: 23px;
  }
}
