.advantages__title {
  padding: 0;
  margin: 0;
  font-family: $font-family-head;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $text-color-dark;
  margin-bottom: 28px;
}

.advantages__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 20px;
  align-items: center;

  &::before {
    content: "";
    display: block;
    background-color: $background-color-dark;
    width: 60px;
    height: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    margin-right: 20px;
    flex-shrink: 0;
  }

  &--nutrients::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--form::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--ration::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--fast::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.advantages__item-description {
  margin: 0;
  padding: 0;
  font-family: $font-family-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-mid;
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-bottom: 15px;
  }

  .advantages__title {
    font-size: 60px;
    margin-bottom: 26px;
  }

  .advantages__list {
    counter-reset: list 0;
  }

  .advantages__item {
    display: block;
    width: 245px;
    margin-top: 46px;
    margin-bottom: 41px;
    margin-right: 139px;
    position: relative;
    min-height: 230px;

    &:nth-of-type(2n) {
      margin-right: auto;
    }

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }

    &::after {
      display: block;
      font-family: $font-family-head;
      font-weight: 400;
      font-size: 281px;
      line-height: 281px;
      text-align: right;
      color: $background-color-mid;
      counter-increment: list;
      content: counter(list);
      position: absolute;
      left: 115px;
      top: -40px;
    }
  }

  .advantages__item-description {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-bottom: 0;
    border-bottom: none;
    box-sizing: border-box;
  }

  .advantages__item {
    margin-right: 80px;

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}
