.button {
  background-color: $background-color-dark;
  color: $text-color-light;
  font-family: $font-family-head;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  text-align: center;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  &--small-text {
    font-size: 14px;
    line-height: 18px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &--white {
    background-color: $background-color-mid;
    color: $text-color-mid;
  }

  &--white:hover {
    background-color: #ebebeb;
  }

  &--white:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }

  &--white:disabled {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--small-text {
      font-size: 20px;
      line-height: 20px;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &--big-text {
      font-size: 20px;
      line-height: 20px;
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}
