.catalog {
  margin-top: 28px;
}

.catalog__item {
  border: 1px solid #ededed;
  border-bottom: none;

  &:last-of-type {
    border: 1px solid #ededed;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .catalog__item {
    border: none;
    width: 324px;
    margin-top: 140px;
    margin-right: 60px;

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: $desktop-width;
    margin: 23px auto 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }

  .catalog__item {
    width: 245px;
    margin-top: 142px;
    margin-right: 80px;

    &:nth-of-type(2n) {
      margin-right: 80px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}
