.categories {
  display: flex;
  flex-wrap: wrap;
}

.categories__item {
  width: 100%;
  position: relative;
  padding-left: 20px;
  padding-bottom: 22px;
  padding-top: 29px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: $background-color-mid;
  margin-top: 20px;
}

.categories__item-title {
  font-family: $font-family-head;
  color: $text-color-dark;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 72px;
  padding: 0;

  &::before {
    content: "";
    background-color: $background-color-dark;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 22px;
    top: 25px;
    position: absolute;
  }

  &--slim::after {
    content: "";
    background-image: url("../img/icon-cat-slim.svg");
    width: 35px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    position: absolute;
    left: 30px;
    top: 22px;
  }

  &--pro::after {
    content: "";
    background-image: url("../img/icon-cat-pro.svg");
    width: 67px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
    position: absolute;
    left: 13px;
    top: 36px;
  }
}

.categories__item-description {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 19px;
  font-family: $font-family-text;
  color: $text-color-mid;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.categories__item-link {
  font-family: $font-family-head;
  font-size: 16px;
  line-height: 16px;
  color: $text-color-dark;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    display: block;
    background-image: url("../img/icon-right-arrow-long.svg");
    width: 24px;
    height: 11px;
    margin-left: 12px;
  }
}

@media (min-width: $tablet-width) {
  .categories__item {
    padding-left: 53px;
    padding-bottom: 61px;
    padding-top: 75px;
    padding-right: 280px;
    margin-top: 0;
    margin-bottom: 30px;

    &:nth-of-type(2) {
      padding-right: 315px;
    }
  }

  .categories__item-title {
    font-size: 36px;
    margin-left: 0;

    &::before {
      width: 200px;
      height: 200px;
      left: 446px;
      top: 92px;
    }

    &--slim::after {
      width: 140px;
      height: 194px;
      margin-right: 0;
      left: 476px;
      top: 80px;
    }

    &--pro::after {
      width: 268px;
      height: 112px;
      margin-right: 0;
      left: 412px;
      top: 135px;
    }
  }

  .categories__item-description {
    margin-top: 26px;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
    padding: 0;
  }

  .categories__item-link {
    margin-top: 57px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      margin-left: 23px;
    }
  }
}

@media (min-width: $desktop-width) {
  .categories {
    justify-content: space-between;
    box-sizing: border-box;
  }

  .categories__item {
    width: 570px;
    padding-left: 53px;
    padding-bottom: 61px;
    padding-top: 75px;
    padding-right: 55px;

    &:nth-of-type(2) {
      padding-right: 55px;
    }
  }

  .categories__item-title {
    font-size: 36px;
    margin-left: 161px;

    &::before {
      width: 100px;
      height: 100px;
      left: 52px;
      top: 47px;
    }

    &--slim::after {
      width: 70px;
      height: 97px;
      left: 66px;
      top: 41px;
    }

    &--pro::after {
      width: 134px;
      height: 56px;
      left: 34px;
      top: 69px;
    }
  }

  .categories__item-description {
    margin-top: 74px;
  }

  .categories__item-link {
    margin-top: 33px;
  }
}
