.copyright {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .copyright__link-image {
    fill: $background-color-dark;
  }

  &:active .copyright__link-image {
    fill: $background-color-dark;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link-text {
  font-family: $font-family-text;
  color: $text-color-mid;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.copyright__link-image {
  margin-right: -7px; /* костыль */
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
    width: 164px;
  }
}
