.item {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
}

.item__image-link {
  width: 50%;
}

.item__image {
  display: block;
}

.item__wrapper {
  width: 50%;
}

.item__title {
  margin: 0;
}

.item__link {
  display: block;
  font-family: $font-family-head;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-dark;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  width: 75px;
  margin-bottom: 13px;
}

.item__description {
  font-family: $font-family-text;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $text-color-mid;
  width: 100%;
  padding: 0;
  border-collapse: collapse;

  tr {
    display: flex;
    justify-content: space-between;
  }
}

.item__description-field {
  padding: 0;
}

.item__description-value {
  padding: 0;
}

.item__button {
  flex-grow: 1;
}
