.map {
  min-width: $mobile-width;
  width: 100%;
}

.map__wrapper {
  background-image: url("../img/map-pin.png"),
    url("../img/bg-map-mobile@1x.png");
  background-size: 60px, $mobile-width;
  background-position: center 45%, center bottom;
  background-repeat: no-repeat;
  height: 362px;
}

.map__google {
  border: none;
  width: 100%;
  min-width: $mobile-width;
  height: 362px;
  /*position: relative;*/
  /*z-index: 2;*/
}

/*.map__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}*/

@media (min-width: $tablet-width) {
  .map {
    min-width: $tablet-width;
  }

  .map__wrapper {
    background-size: 124px, $tablet-width;
    background-position: center 50%, center bottom;
    height: 396px;
  }

  .map__google {
    min-width: $tablet-width;
    height: 396px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    min-width: $desktop-width;
    position: relative;
  }

  .map__wrapper {
    background-size: 124px, 100%;
    background-position: calc(50% + 340px) 51%, center bottom;
    height: 399px;
  }

  .map__google {
    min-width: $desktop-width;
    height: 399px;
  }
}
