.page-footer__wrapper {
  width: $mobile-width;
  margin: 0 auto;
  background-color: $background-color-mid;
  padding-bottom: 22px;
}

.page-footer__title {
  padding-top: 39px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 28px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: $tablet-width;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
    box-sizing: border-box;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__title {
    padding-top: 0;
    margin: 0;
    margin-right: 155px;
    padding-bottom: 0;
    border-bottom: none;
    text-align: left;
  }

  .page-footer__social {
    margin: 0;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    background-color: $background-color-mid;
  }

  .page-footer__wrapper {
    width: $desktop-width;
    padding-left: 40px;
    padding-right: 40px;
  }

  .page-footer__title {
    margin-right: 412px;
  }
}
