.page-main {
  background-color: $background-color-light;
}

.page-main__categories {
  margin-left: 20px;
  margin-right: 20px;
}

.page-main__advantages {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 42px;
}
