.page-main {
  background-color: $background-color-light;
  width: $mobile-width;
  margin: 0 auto;
}

.page-main__title {
  padding: 0;
  margin: 0;
  font-family: $font-family-head;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $text-color-dark;
  margin-bottom: 23px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-main__categories {
  margin-left: 20px;
  margin-right: 20px;
}

.page-main__advantages {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 42px;
}
