.page-header {
  background-color: $background-color-light;
}

.page-header__wrapper {
  padding-top: 11px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 23px;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo {

}
