.request {
  margin-top: 26px;
}

.request__summary {
  font-family: $font-family-head;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-dark;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
}

.request__form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 38px;
  margin-bottom: 32px;
}
