.request {
  margin-top: 26px;
}

.request__summary {
  font-family: $font-family-head;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-dark;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;
}

.request__form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 38px;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .request {
    margin-top: 54px;
  }

  .request__summary {
    font-size: 20px;
    line-height: 30px;
    margin-left: 70px;
    width: 344px;
  }

  .request__form {
    margin-top: 65px;
    margin-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .request {
    margin-top: 55px;
  }

  .request__summary {
    padding-left: 40px;
    padding-right: 895px;
    width: $desktop-width;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .request__form {
    margin-bottom: 82px;
  }
}
