.slider__image {
  display: block;

  &--after {
    display: none;
  }
}

.slider__wrapper {
  display: flex;
  margin-top: 32px;
  align-items: center;
}

.slider__item {
  font-family: $font-family-head;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-dark;
  text-transform: uppercase;
  background-color: $background-color-mid;
  border: none;
  padding: 0;
  cursor: pointer;

  &--before {
    margin-left: 64px;
  }

  &--after {
    margin-right: auto;
  }
}

.slider__scale {
  width: 84px;
  height: 14px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  background-color: $background-color-light;
  border-radius: 6px;
  margin-left: 18px;
  margin-right: 18px;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
}

.slider__bar {
  background-color: $background-color-dark;
  width: 35px;
  height: 6px;
  border-radius: 2px;
}

@media (min-width: $tablet-width) {
  .slider {
    background-color: $background-color-mid;
    padding-bottom: 68px;
    padding-top: 352px;
    position: relative;
  }

  .slider__image {
    width: 690px;
    position: absolute;
    bottom: 114px;
    left: 45px;
  }

  .slider__wrapper {
    display: flex;
    margin-top: 16px;
    align-items: center;
  }

  .slider__item {
    font-size: 20px;
    border-bottom: 1px dotted rgba(17, 17, 17, 0.23);
    padding-bottom: 5px;

    &:hover {
      border-bottom: 1px solid rgba(17, 17, 17, 0.4);
    }

    &:active {
      border-bottom: none;
    }

    &--before {
      margin-left: 99px;
    }
  }

  .slider__scale {
    width: 428px;
    height: 6px;
    border: none;
    background-color: #dcdcdc;
    border-radius: 3px;
    margin-left: 23px;
    margin-right: 21px;
    padding: 0;
    margin-bottom: 5px;
  }

  .slider__bar {
    background-color: $background-color-light;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    margin-left: 198px;
    margin-top: -14px;
    position: relative;
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid $background-color-dark;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }

    &::after {
      content: "";
      display: block;
      background-color: $background-color-dark;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      position: absolute;
      left: 12px;
      top: 12px;
    }

    &:active::after {
      left: 11px;
      top: 11px;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    padding-left: 40px;
    padding-bottom: 70px;
  }

  .slider__image {
    bottom: 135px;
    left: 0;
  }

  .slider__item {
    &--before {
      margin-left: 40px;
    }
  }
}
