.special {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 39px;
  margin-bottom: 35px;
  min-height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 280px 289px;

  &::before {
    content: "";
    display: block;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    width: 55px;
    height: 60px;
  }
}

.special__text {
  font-family: $font-family-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-light;
}
