$font-family-head: "Oswald", "Arial", sans-serif;
$font-family-text: "Arial", sans-serif;

$text-color-light: #ffffff;
$text-color-mid: #444444;
$text-color-dark: #111111;

$background-color-light: #ffffff;
$background-color-mid: #f2f2f2;
$background-color-dark: #68b738;
